.footer{
    background-color:#f8f8f8;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

.navbar-logo {
    max-width: 250px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.second-nav {
    font-weight: 700;
}


.navbar-collapse{
    flex-direction: row-reverse;
}

.underline-pink {
    border-bottom: 3px solid #FF007A;
}

.underline-blue {
    border-bottom: 3px solid #20A1F1;
}

.underline-purple {
    border-bottom: 3px solid #A100FF;
}

.underline-orange {
    border-bottom: 3px solid #FF5900;
}

.underline-green {
    border-bottom: 3px solid #00FF9D;
}

.breadcrumb {
    background-color: white;
}

.line-small {
    width: 128px;
}

.login {
    font-weight: 700;
}

.img-fluid{
    max-width: 150px;
}


.locais-title{
    width:fit-content
}
.img-small{
    max-width: 40px;
}

.icon {
    width:35px;
}


.locais-title{
    width:fit-content
}

.divisor{
    height: 0.5rem;
    width:50%;
}

.pinkClr{
    background-color:#FF007A;
}

.blueClr{
    background-color:#20A1F1;
}

.purpleClr{
    background-color: #A100FF;
    color:white;
    font-weight: 800;
}

.yellowClr{
   
    color:#FFD600;
}

.col{display: inline-block;}

#rateMe{
    text-align: center;
    margin-bottom:1rem;
}
.rounded{
    border-radius:1rem!important
}

.locals-card{
	width:250px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
    margin-left: 1.5rem;
    flex-shrink: 0;
}



.card-title{
    text-align: center;
}
.card-img-top{
    height:auto;
}


.scrolling-wrapper{
	overflow-x: auto;
}



.places{
    background-color:#f8f8f8;
    
}



.ratings{
    height:70vh
}
@media only screen and (max-width: 980px) {
    .line-bottom {
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }
    .logo{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    
  }

  